<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<a th:href="@{/order/log}">受注履歴に戻る</a>
		<th:block th:object="${order}">
			<table class="table table-borderd table-register">
				<tr>
					<th>受注番号</th>
					<td th:text="*{orderNumber}" />
				</tr>
				<tr>
					<th>顧客コード</th>
					<td th:text="*{customerHistory.code}" />
				</tr>
				<tr>
					<th>顧客名</th>
					<td th:text="*{customerHistory.name}" />
				</tr>
				<tr>
					<th>受注金額</th>
					<td th:text="|&yen;*{#numbers.formatInteger(orderAmountTotal, 3, 'COMMA')}|" />
				</tr>
				<tr>
					<th>部署名</th>
					<td th:text="*{employeeHistory.department.name}" />
				</tr>
				<tr>
					<th>社員名</th>
					<td th:text="*{employeeHistory.name}" />
				</tr>
				<tr>
					<th>出荷完納日</th>
					<td th:text="*{#temporals.format(completionDate, 'yy/MM/dd')}" />
				</tr>
				<tr>
					<th>登録日時</th>
					<td th:text="*{#temporals.format(createdAt, 'yy/MM/dd HH:mm:ss')}" />
				</tr>
				<tr>
					<th>更新日時</th>
					<td th:text="*{#temporals.format(updatedAt, 'yy/MM/dd HH:mm:ss')}" />
				</tr>
				<tr>
					<th>削除区分</th>
					<td th:text="*{invalid} == 0 ? '' : '済'" />
				</tr>		
			</table>
			<hr>
			<p class="text-center h2">受注明細一覧</p>
			<table class="table table-borderd table-detail">
				<thead>
					<tr>
						<th>明細番号</th>
						<th>商品コード</th>
						<th>商品名</th>
						<th>単価</th>
						<th>受注数</th>
						<th>出荷数計</th>
						<th>出荷完了日</th>
						<th>小計</th>
						<th>削除区分</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="orderDetail, stat : *{orderDetails}" th:classappend="*{orderDetails[__${stat.index}__].invalid == 1 ? 'bg-secondary' : orderDetails[__${stat.index}__].completionDate != null ? 'bg-info' : '' }">
						<td>
							<span th:text="*{orderDetails[__${stat.index}__].detailId}"></span>
						</td>
						<td>
							<span th:text="*{orderDetails[__${stat.index}__].itemHistory.code}"></span>
						</td>
						<td>
							<span th:text="*{orderDetails[__${stat.index}__].itemHistory.name}"></span>
						</td>
						<td>
							<span th:text="|&yen;*{#numbers.formatInteger(orderDetails[__${stat.index}__].itemHistory.unitPrice, 3, 'COMMA')}|"></span>
						</td>
						<td>
							<span th:text="*{orderDetails[__${stat.index}__].orderQuantity}"></span>
						</td>
						<td>
							<span th:text="*{orderDetails[__${stat.index}__].shippingQuantityTotal}"></span>
						</td>
						<td>
							<span th:text="*{#temporals.format(orderDetails[__${stat.index}__].completionDate, 'yy/MM/dd')}"></span>
						</td>
						<td>
							<span th:text="|&yen;*{#numbers.formatInteger(orderDetails[__${stat.index}__].itemHistory.unitPrice * orderDetails[__${stat.index}__].orderQuantity, 3, 'COMMA')}|"></span>
						</td>
						<td>
							<span th:text="*{orderDetails[__${stat.index}__].invalid} == 1 ? '済' : '' "></span>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
	</div>
</body>
</html>