<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="table">
	<table class="table table-bordered">
		<tr>
			<th>
				<label for="productionId">製作番号</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<select th:field="*{productionId}" class="select" id="ajax-productionId">
						<option value="" selected>選択して下さい</option>
						<option th:each="production : ${productions}" th:value="${production.id}" th:text="${production.lotNumber}" />
					</select>
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{productionId}" />
					<input type="hidden" th:field="*{lotNumber}" />
					<span th:text="*{lotNumber}"></span>
				</th:block>
				<span th:if="${#fields.hasErrors('productionId')}" th:errors="*{productionId}" class="text-danger"></span>
			</td>
		</tr>
		<tr>
			<th>
				<label for="itemCode">商品コード</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<input type="text" th:field="*{itemCode}" class="bg-secondary" id="ajax-itemCode" readonly />
					<span th:if="${#fields.hasErrors('itemCode')}" th:errors="*{itemCode}" class="text-danger"></span>
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{itemCode}" />
					<span th:text="*{itemCode}"></span>
				</th:block>
			</td>
		</tr>
		<tr>
			<th>
				<label for="itemName">商品名</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<input type="text" th:field="*{itemName}" class="bg-secondary" id="ajax-itemName" readonly />
					<span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="text-danger"></span>
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{itemName}" />
					<span th:text="*{itemName}"></span>
				</th:block>
			</td>
		</tr>
		<tr>
			<th>
				<label for="lotQuantity">製作数</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<input type="number" th:field="*{lotQuantity}" class="bg-secondary" id="ajax-lotQuantity" readonly />
					<span th:if="${#fields.hasErrors('lotQuantity')}" th:errors="*{lotQuantity}" class="text-danger"></span>
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{lotQuantity}" />
					<span th:text="*{lotQuantity}"></span>
				</th:block>
			</td>
		</tr>
		<tr>
			<th>
				<label for="storingQuantityTotal">入庫済数</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<input type="number" th:field="*{storingQuantityTotal}" class="bg-secondary" id="ajax-storingQuantityTotal" readonly />
					<span th:if="${#fields.hasErrors('storingQuantityTotal')}" th:errors="*{storingQuantityTotal}" class="text-danger"></span>
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{storingQuantityTotal}" />
					<span th:text="*{storingQuantityTotal}"></span>
				</th:block>
			</td>
		</tr>
		<tr>
			<th>
				<label for="failureQuantityTotal">不良数計</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<input type="number" th:field="*{failureQuantityTotal}" class="bg-secondary" id="ajax-failureQuantityTotal" readonly />
					<span th:if="${#fields.hasErrors('failureQuantityTotal')}" th:errors="*{failureQuantityTotal}" class="text-danger"></span>
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{failureQuantityTotal}" />
					<span th:text="*{failureQuantityTotal}"></span>
				</th:block>
			</td>
		</tr>
		<tr>
			<th>
				<label for="storingQuantity">入庫数</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<input type="number" th:field="*{storingQuantity}" min=1 />
					<span th:if="${#fields.hasErrors('storingQuantity')}" th:errors="*{storingQuantity}" class="text-danger"></span>
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{storingQuantity}" />
					<span th:text="*{storingQuantity}"></span>
				</th:block>
			</td>
		</tr>
	</table>
</div>
</html>