<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<a th:href="@{/storing/log}">入庫履歴に戻る</a>
		<table class="table table-borderd table-register" th:object="${storing}">
			<tr>
				<th>製作番号</th>
				<td th:text="*{production.lotNumber}" />
			</tr>
			<tr>
				<th>商品コード</th>
				<td th:text="*{production.item.code}" />
			</tr>
			<tr>
				<th>商品名</th>
				<td th:text="*{production.item.name}" />
			</tr>
			<tr>
				<th>入庫数</th>
				<td th:text="*{storingQuantity}" />
			</tr>
			<tr>
				<th>入庫入力日時</th>
				<td th:text="*{#temporals.format(createdAt, 'yy/MM/dd HH:mm:ss')}" />
			</tr>
		</table>
	</div>
</body>
</html>