<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!--  	<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top" layout:fragment="nav">
		<th:block sec:authorize="isAuthenticated()">
			<form method="post" th:action=@{/logout}>
				<input type="submit" value="ログアウト">
			</form>
		</th:block>
	</nav>-->
</body>
</html>