<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<div class="container-fulid">
			<div class="row">
				<div class="col-md-3 border-end text-center">
					<h3>検索条件</h3>
					<hr>
					<form th:action="@{/customer/list}" method="get" th:object="${customerForm}">
						<table class="form-table table table-bordered">
							<tr>
								<th><label for="code">顧客コード</label></th>
								<td><input type="text" th:field="*{code}"></td>
							</tr>
							<tr>
								<th><label for="name">顧客名</label></th>
								<td><input type="text" th:field="*{name}"></td>
							</tr>
							<tr>
								<th><label for="address">住所</label></th>
								<td><input type="text" th:field="*{address}"></td>
							</tr>
						</table>
						<input type="submit" value="検索" />
					</form>	
				</div>
				<div class="col-md-9">
					<a th:href="@{/customer/register}" class="h4">新規登録</a>
					<table id="DataTables" class="text-center master-list table table-bordered">
						<thead>
							<tr class="border-3">
								<th>詳細</th>
								<th>編集</th>
								<th>顧客コード</th>
								<th>顧客名</th>
								<th>郵便番号</th>
								<th>都道府県</th>
								<th>市区町村</th>
								<th>町名番地</th>
								<th>電話番号</th>
								<th>登録日時</th>
								<th>更新日時</th>
								<th>削除区分</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="customer : ${customers}" th:object="${customer}" 
								th:class="*{invalid} == 1 ? 'bg-secondary' : '' ">
								<td>
									<a th:href="@{/customer/list/{id}(id=*{id})}">■</a>
								</td>
								<td>
									<th:block th:if="*{invalid} == 0">
										<a th:href="@{/customer/edit/{id}(id=*{id})}">●</a>
									</th:block>
								</td>
								<td th:text="*{code}"></td>
								<td th:text="*{name}"></td>
								<td th:text="*{postalCode}"></td>
								<td th:text="*{firstAddress}"></td>
								<td th:text="*{secondAddress}"></td>
								<td th:text="*{thirdAddress}"></td>
								<td th:text="*{phoneNumber}"></td>
								<td th:text="*{#temporals.format(createdAt, 'yy/MM/dd HH:mm:ss')}"></td>
								<td th:text="*{#temporals.format(updatedAt, 'yy/MM/dd HH:mm:ss')}"></td>
								<td th:text="*{invalid} == 0 ? '' : '済' "></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>