<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<div class="container-fulid">
			<div class="row">
				<div class="col-md-2 border-end text-center">
					<h3>検索条件</h3>
					<hr>
					<form th:action="@{/progress/list}" method="get" th:object="${progressForm}">
						<table class="form-table table table-bordered">
							<tr>
								<th><label for="lotNumber">製作番号</label></th>
								<td><input type="text" th:field="*{lotNumber}"></td>
							</tr>
							<tr>
								<th><label for="itemCode">商品コード</label></th>
								<td><input type="text" th:field="*{itemCode}"></td>
							</tr>
							<tr>
								<th><label for="itemName">商品名</label></th>
								<td><input type="text" th:field="*{itemName}"></td>
							</tr>
						</table>
						<input type="submit" value="検索" />
					</form>	
				</div>
				<div class="col-md-10">
					<table id="DataTables" class="text-center align-middle master-list table table-bordered table-progress">
						<thead>
							<tr class="border-3">
								<th rowspan=2>製作番号</th>
								<th rowspan=2>商品コード</th>
								<th rowspan=2>商品名</th>
								<th rowspan=2>製作数</th>
								<th rowspan=2></th>
								<th colspan=7>部署</th>
								<th rowspan=2>不良数計</th>
								<th rowspan=2>入庫数計</th>
								<th rowspan=2>完成予定日</th>
							</tr>
							<tr>
								<th>旋盤</th>
								<th>切削</th>
								<th>焼入</th>
								<th>研磨</th>
								<th>検査</th>
								<th>組立</th>
								<th>梱包</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="production : ${productions}" th:object="${production}">
								<tr th:each="i : ${#numbers.sequence(0, 2)}">
									<th:block th:if="${i} == 0">
										<td rowspan=3 th:text="*{lotNumber}"></td>
										<td rowspan=3 th:text="*{item.code}"></td>
										<td rowspan=3 th:text="*{item.name}"></td>
										<td rowspan=3 th:text="*{lotQuantity}"></td>
										<td>完了数</td>
										<th:block th:each="report, stat : *{reports}">
											<th:block th:if="*{reports[__${stat.index}__].productionId} != null">
												<td th:text="*{reports[__${stat.index}__].departmentCompletionQuantityTotal}" class="bg-info"></td>
											</th:block>
											<th:block th:if="*{reports[__${stat.index}__].productionId} == null">
												<td>-</td>
											</th:block>
										</th:block>
										<td rowspan=3 th:text="*{failureQuantityTotal}"></td>
										<td rowspan=3 th:text="*{storingQuantityTotal}"></td>
										<td rowspan=3 th:text="*{scheduledCompletionDate}"></td>
									</th:block>
									<th:block th:if="${i} == 1">
										<td>不良数</td>
										<th:block th:each="report, stat : *{reports}">
											<th:block th:if="*{reports[__${stat.index}__].productionId} != null">
 												<td th:text="*{reports[__${stat.index}__].departmentFailureQuantityTotal}" class="bg-info"></td>
											</th:block>
											<th:block th:if="*{reports[__${stat.index}__].productionId} == null">
												<td>-</td>
											</th:block>
										</th:block>
									</th:block>
									<th:block th:if="${i} == 2">
										<td>更新日</td>
										<th:block th:each="report, stat : *{reports}">
											<th:block th:if="*{reports[__${stat.index}__].productionId} != null">
												<td th:text="*{#temporals.format(reports[__${stat.index}__].updatedAtLatest, 'MM/dd')}" class="bg-info"></td>
											</th:block>
											<th:block th:if="*{reports[__${stat.index}__].productionId} == null">
												<td>-</td>
											</th:block>
										</th:block>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>