<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="contents">
		<h1>社員マスタ</h1>
		<form method="post" th:action="@{/register/employee/new}" th:object="${employeeForm}">
			<table>
				<tr>
					<th><label for="username">社員ID</label></th>
					<td><input type="text" th:field="*{username}" /></td>
				</tr>
				<tr>
					<th><label for="name">社員名</label></th>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<th><label for="departmentId">部署</label></th>
					<td><select th:field="*{departmentId}">
							<option th:each="department : *{departments}" th:value="${department.id}" th:text="${department.name}"></option>
					</select></td>
				</tr>
				<tr>
					<th><label for="password">パスワード</label></th>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
				<tr>
					<th><label for="passwordConfirmation">パスワード確認用</label></th>
					<td><input type="password" th:field="*{passwordConfirmation}" /></td>
				</tr>
			</table>
			<input type="submit" value="新規登録" />
		</form>
		<a th:href="@{/menu}">メニュー画面</a>
	</div>
</body>
</html>