<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="table">
	<table class="table table-bordered table-register">
		<tr>
			<th>
				<label for="code">部署コード</label>
			</th>
			<td>
				<th:block th:if="${editFlag} == null">
					<input type="text" th:field="*{code}" class="bg-gray" readonly />
				</th:block>
				<th:block th:if="${editFlag} == 1">
					<input type="hidden" th:field="*{code}" />
					<span th:text="*{code}"></span>
				</th:block>
			</td>
		</tr>
		<tr>
			<th>
				<label for="name">部署名</label>
			</th>
			<td>
				<input type="text" th:field="*{name}" />
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
			</td>
		</tr>
	</table>
</div>
</html>