<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="contents">
		<a th:href="@{/department/list}">部署マスタに戻る</a>
		<form method="post" th:action="@{/department/edit/update}" th:object="${departmentForm}">
			<input type="hidden" th:field="*{id}" />
		
			<div layout:replace="~{departments/common :: table}"></div>
			
			<div class="input-register">
				<input type="submit" value="更新" id="form" />
			</div>
		</form>
		<form method="post" th:action="@{/department/edit/delete}" th:object="${departmentForm}">
			<input type="hidden" th:field="*{id}" />
			<div class="input-register">
				<input type="submit" value="削除" id="form-delete" />
			</div>
		</form>
	</div>
</body>
</html>