<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<a th:href="@{/department/list}">部署マスタに戻る</a>
		<form method="post" th:action="@{/department/register/new}" th:object="${departmentForm}">
		
			<div layout:replace="~{departments/common :: table}"></div>
			
			<div class="input-register">
				<input type="submit" value="新規登録" id="form" />
			</div>
		</form>
	</div>
</body>
</html>