<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.CustomerMapper">

	<!-- SQL結果に対応した顧客クラス -->
	<resultMap id="customerResult" type="Customer">
		<id property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="postalCode" column="postal_code" />
		<result property="firstAddress" column="first_address" />
		<result property="secondAddress" column="second_address" />
		<result property="thirdAddress" column="third_address" />
		<result property="phoneNumber" column="phone_number" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="invalid" column="invalid" />
	</resultMap>
	
	<!-- 引数で受け取った顧客コード・顧客名・住所を基に、あいまい検索を掛ける -->
	<select id="findByConditions" resultMap="customerResult">
		SELECT
			id, 
			code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers <!-- 顧客テーブル -->
		<where>
			<if test="code != null">
				code LIKE '%${code}%' <!-- 引数の顧客コードがnullでない場合、あいまい検索 -->
			</if>
			<if test="name != null">
				AND name LIKE '%${name}%' <!-- 引数の顧客名がnullでない場合、あいまい検索 -->
			</if>
			<if test="address != null">
				AND (
					first_address LIKE '%${address}%' <!-- 引数の住所がnullでない場合、都道府県をあいまい検索 -->
				OR 
					second_address LIKE '%${address}%' <!-- 引数の住所がnullでない場合、市区町村をあいまい検索 -->
				OR
					third_address LIKE '%${address}%' <!-- 引数の住所がnullでない場合、町名番地をあいまい検索 -->
				)
			</if>
		</where>
	</select>
	
	<!-- 引数で受け取ったIDを基に、該当レコードを取得する。 -->
	<select id="findById" parameterType="Long" resultMap="customerResult">
		SELECT
			id, 
			code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers <!-- 顧客テーブル -->
		WHERE
			id = #{id} <!-- 引数の顧客IDと一致した場合 -->
	</select>
	
	<!-- 引数で受け取った顧客コードを基に、該当レコードを取得する -->
	<select id="findByCode" parameterType="String" resultMap="customerResult">
		SELECT
			id, 
			code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers <!-- 顧客テーブル -->
		WHERE
			code = #{code} <!-- 引数の顧客コードと一致した場合 -->
	</select>
	
	<!-- 引数で受け取った顧客IDを基に、該当レコードを取得する※削除済みを除く -->
	<select id="findByIdExcludeInvalid" parameterType="Long" resultMap="customerResult">
		SELECT
			id, 
			code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers <!-- 顧客テーブル -->
		WHERE
			id = #{id} <!-- 引数の顧客IDと一致した場合 -->
		AND
			invalid = 0 <!-- 未削除のみ -->
	</select>
	
	<!-- 引数で受け取った顧客コードを基に、該当レコードを取得する。 -->
	<select id="findByCustomerCode" parameterType="String" resultMap="customerResult">
		SELECT
			id, 
			code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers <!-- 顧客テーブル -->
		WHERE
			code = #{code} <!-- 引数の顧客コードと一致した場合 -->
	</select>

	<!-- 顧客テーブルのレコード数を取得する。 -->
	<select id="countAll" resultType="Integer">
		SELECT COUNT
			(*)
		FROM
			customers <!-- 顧客テーブル -->
	</select>
	
	<!-- 顧客テーブルに1件データを挿入する -->
	<insert id="create" parameterType="Customer">
		INSERT INTO
			customers ( <!-- 顧客テーブル -->
				code, 
				name, 
				postal_code, 
				first_address, 
				second_address, 
				third_address, 
				phone_number
			)
		VALUES (
			#{code}, 
			#{name}, 
			#{postalCode}, 
			#{firstAddress}, 
			#{secondAddress}, 
			#{thirdAddress}, 
			#{phoneNumber}
		)
	</insert>
	
	<!-- 引数の顧客IDを基に、顧客データの1件のデータを更新する -->
	<update id="update" parameterType="Customer">
		UPDATE
			customers <!-- 顧客テーブル -->
		SET
			name = #{name}, 
			postal_code = #{postalCode}, 
			first_address = #{firstAddress}, 
			second_address = #{secondAddress}, 
			third_address = #{thirdAddress}, 
			phone_number = #{phoneNumber}, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id} <!-- 引数の顧客IDと一致した場合 -->
	</update>

	<!-- 引数の顧客IDを基に、顧客データの1件のデータを削除(論理)する -->
	<update id="delete" parameterType="Customer">
		UPDATE
			customers <!-- 顧客テーブル -->
		SET
			invalid = 1, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id} <!-- 引数の顧客IDと一致した場合 -->
	</update>

</mapper>