<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.CustomerMapper">

	<resultMap id="customerResult" type="Customer">
		<id property="id" column="id" />
		<result property="customerCode" column="customer_code" />
		<result property="name" column="name" />
		<result property="postalCode" column="postal_code" />
		<result property="firstAddress" column="first_address" />
		<result property="secondAddress" column="second_address" />
		<result property="thirdAddress" column="third_address" />
		<result property="phoneNumber" column="phone_number" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="invalid" column="invalid" />
	</resultMap>
	
	<select id="findAll" resultMap="customerResult">
		SELECT
			id, 
			customer_code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers
	</select>
	
	<select id="findByConditions" resultMap="customerResult">
		SELECT
			id, 
			customer_code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers
		<where>
			<if test="name != null">
				customer_code LIKE '%${customerCode}%'
			</if>
			<if test="name != null">
				AND name LIKE '%${name}%'
			</if>
			<if test="address != null">
				AND (
					first_address LIKE '%${address}%'
				OR 
					second_address LIKE '%${address}%'
				OR
					third_address LIKE '%${address}%'
				)
			</if>
		</where>
	</select>
	
	<select id="findById" parameterType="Long" resultMap="customerResult">
		SELECT
			id, 
			customer_code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers
		WHERE
			id = #{id}
	</select>
	
	<select id="findByCustomerCode" parameterType="String" resultMap="customerResult">
		SELECT
			id, 
			customer_code, 
			name, 
			postal_code, 
			first_address, 
			second_address, 
			third_address, 
			phone_number, 
			created_at, 
			updated_at, 
			invalid
		FROM
			customers
		WHERE
			customer_code = #{customer_code}
	</select>

	<select id="countAll" resultType="Integer">
		SELECT COUNT
			(*)
		FROM
			customers
	</select>
	
	<insert id="create" parameterType="Customer">
		INSERT INTO
			customers (
				customer_code, 
				name, 
				postal_code, 
				first_address, 
				second_address, 
				third_address, 
				phone_number
				)
		VALUES (
			#{customerCode}, 
			#{name}, 
			#{postalCode}, 
			#{firstAddress}, 
			#{secondAddress}, 
			#{thirdAddress}, 
			#{phoneNumber}
			)
	</insert>
	
	<update id="update" parameterType="Customer">
		UPDATE
			customers
		SET
			customer_code = #{customerCode}, 
			name = #{name}, 
			postal_code = #{postalCode}, 
			first_address = #{firstAddress}, 
			second_address = #{secondAddress}, 
			third_address = #{thirdAddress}, 
			phone_number = #{phoneNumber}, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id}
	</update>

	<update id="delete" parameterType="Customer">
		UPDATE
			customers
		SET
			invalid = 1, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id}
	</update>

</mapper>