<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.DepartmentMapper">

	<resultMap id="departmentResult" type="Department">
		<id property="id" column="dep_id" />
		<result property="code" column="dep_code" />
		<result property="name" column="dep_name" />
		<result property="createdAt" column="dep_created_at" />
		<result property="updatedAt" column="dep_updated_at" />
		<result property="invalid" column="dep_invalid" />
		<collection property="employees" ofType="Employee">
			<id property="id" column="emp_id" />
			<result property="username" column="emp_username" />
			<result property="name" column="emp_name" />
		</collection>
	</resultMap>

	<select id="findAll" resultMap="departmentResult">
		SELECT 
			dep.id                  AS dep_id, 
			dep.code                AS dep_code, 
			dep.name                AS dep_name, 
			dep.created_at          AS dep_created_at, 
			dep.updated_at          AS dep_updated_at, 
			dep.invalid             AS dep_invalid, 
			emp.id                  AS emp_id, 
			emp.username            AS emp_username, 
			emp.name                AS emp_name 
		FROM 
			departments dep
		LEFT JOIN
			employees emp
		ON
			dep.id = emp.department_id
		AND
			emp.invalid = 0
	</select>
	
	<select id="findByConditions" resultMap="departmentResult">
		SELECT 
			dep.id                  AS dep_id, 
			dep.code                AS dep_code, 
			dep.name                AS dep_name, 
			dep.created_at          AS dep_created_at, 
			dep.updated_at          AS dep_updated_at, 
			dep.invalid             AS dep_invalid, 
			emp.id                  AS emp_id, 
			emp.username            AS emp_username, 
			emp.name                AS emp_name 
		FROM 
			departments dep
		LEFT JOIN
			employees emp
		ON
			dep.id = emp.department_id
		AND
			emp.invalid = 0
		<where>
			<if test="code != null">
				dep.code LIKE '%${code}%'
			</if>
			<if test="name != null">
				AND dep.name LIKE '%${name}%'
			</if>
		</where>
	</select>
	
	<select id="findById" parameterType="Long" resultMap="departmentResult">
		SELECT 
			dep.id                  AS dep_id, 
			dep.code                AS dep_code, 
			dep.name                AS dep_name, 
			dep.created_at          AS dep_created_at, 
			dep.updated_at          AS dep_updated_at, 
			dep.invalid             AS dep_invalid, 
			emp.id                  AS emp_id, 
			emp.username            AS emp_username, 
			emp.name                AS emp_name 
		FROM 
			departments dep
		LEFT JOIN
			employees emp
		ON
			dep.id = emp.department_id
		AND
			emp.invalid = 0
		WHERE
			dep.id = #{id}
	</select>
	
	<select id="findByCode" parameterType="String" resultMap="departmentResult">
		SELECT 
			dep.id                  AS dep_id, 
			dep.code                AS dep_code, 
			dep.name                AS dep_name, 
			dep.created_at          AS dep_created_at, 
			dep.updated_at          AS dep_updated_at, 
			dep.invalid             AS dep_invalid, 
			emp.id                  AS emp_id, 
			emp.username            AS emp_username, 
			emp.name                AS emp_name 
		FROM 
			departments dep
		LEFT JOIN
			employees emp
		ON
			dep.id = emp.department_id
		AND
			emp.invalid = 0
		WHERE
			dep.code = #{code}
	</select>
	
	<select id="countAll" resultType="Integer">
		SELECT COUNT
			(*)
		FROM
			departments
	</select>

	<insert id="create" parameterType="Department">
		INSERT INTO
			departments (
				code, 
				name
			)
		VALUES (
			#{code}, 
			#{name}
		)
	</insert>
	
	<update id="update" parameterType="Department">
		UPDATE
			departments
		SET
			code = #{code}, 
			name = #{name}, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id}
	</update>
	
	<update id="delete" parameterType="Department">
		UPDATE
			departments
		SET
			invalid = 1, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id}
	</update>
	
</mapper>