<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.DepartmentMapper">
	<select id="findAll" resultType="Department">
		SELECT 
			id     AS id, 
			department_code, 
			name   AS name
		FROM 
			departments
	</select>
	<select id="findById" parameterType="Long" resultType="Department">
		SELECT
			id     AS id, 
			department_code, 
			name   AS name 
		FROM 
			departments 
		WHERE 
			id = #{id}
	</select>
</mapper>