<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.EmployeeMapper">

	<resultMap id="employeeResult" type="Employee">
		<id property="id" column="employee_id" />
		<result property="username" column="employee_username" />
		<result property="password" column="employee_password" />
		<result property="name" column="employee_name" />
		<result property="authority" column="employee_authority" />
		<result property="createdAt" column="employee_created_at" />
		<result property="updatedAt" column="employee_updated_at" />
		<result property="invalid" column="employee_invalid" />
		<association property="department" javaType="Department">
			<id property="id" column="department_id" />
			<result property="name" column="department_name" />
		</association>
	</resultMap>
	
		<select id="findByUsernameExcludeInvalid" parameterType="String" resultMap="employeeResult">
		SELECT
			emp.id               AS employee_id, 
			emp.username         AS employee_username,  
			emp.password         AS employee_password,  
			emp.name             AS employee_name,  
			emp.department_id    AS employee_department_id,  
			emp.authority        AS employee_authority,  
			emp.created_at       AS employee_created_at,  
			emp.updated_at       AS employee_updated_at,  
			emp.invalid          AS employee_invalid,  
			dep.id               AS department_id,  
			dep.name             AS department_name      
		FROM 
			employees emp 
		INNER JOIN 
			departments dep 
		ON 
			emp.department_id = dep.id
		WHERE
			emp.username = #{username}
		AND 
			emp.invalid = 0
	</select>
	
	<select id="findByIdExcludeInvalid" parameterType="Long" resultMap="employeeResult">
		SELECT
			emp.id               AS employee_id, 
			emp.username         AS employee_username,  
			emp.password         AS employee_password,  
			emp.name             AS employee_name,  
			emp.department_id    AS employee_department_id,  
			emp.authority        AS employee_authority,  
			emp.created_at       AS employee_created_at,  
			emp.updated_at       AS employee_updated_at,  
			emp.invalid          AS employee_invalid,  
			dep.id               AS department_id,  
			dep.name             AS department_name      
		FROM 
			employees emp 
		INNER JOIN 
			departments dep 
		ON 
			emp.department_id = dep.id
		WHERE
			emp.id = #{id}
		AND 
			emp.invalid = 0
	</select>
	
	<select id="findById" parameterType="Long" resultMap="employeeResult">
		SELECT
			emp.id               AS employee_id, 
			emp.username         AS employee_username,  
			emp.password         AS employee_password,  
			emp.name             AS employee_name,  
			emp.department_id    AS employee_department_id,  
			emp.authority        AS employee_authority,  
			emp.created_at       AS employee_created_at,  
			emp.updated_at       AS employee_updated_at,  
			emp.invalid          AS employee_invalid,  
			dep.id               AS department_id,  
			dep.name             AS department_name      
		FROM 
			employees emp 
		INNER JOIN 
			departments dep 
		ON 
			emp.department_id = dep.id
		WHERE
			emp.id = #{id}
	</select>
	
	<select id="findAll" resultMap="employeeResult">
		SELECT
			emp.id               AS employee_id, 
			emp.username         AS employee_username,  
			emp.password         AS employee_password,  
			emp.name             AS employee_name,    
			emp.authority        AS employee_authority,  
			emp.created_at       AS employee_created_at,  
			emp.updated_at       AS employee_updated_at,  
			emp.invalid          AS employee_invalid,  
			dep.id               AS department_id,  
			dep.name             AS department_name      
		FROM 
			employees emp 
		INNER JOIN 
			departments dep 
		ON 
			emp.department_id = dep.id
	</select>
		
	<select id="findByConditions" resultMap="employeeResult">
		SELECT
			emp.id               AS employee_id, 
			emp.username         AS employee_username,  
			emp.password         AS employee_password,  
			emp.name             AS employee_name,    
			emp.authority        AS employee_authority,  
			emp.created_at       AS employee_created_at,  
			emp.updated_at       AS employee_updated_at,  
			emp.invalid          AS employee_invalid,  
			dep.id               AS department_id,  
			dep.name             AS department_name      
		FROM 
			employees emp 
		INNER JOIN 
			departments dep 
		ON 
			emp.department_id = dep.id
		<where>
			<if test="username != null">
				emp.username LIKE '%${username}%'
			</if>
			<if test="name != null">
				AND emp.name LIKE '%${name}%'
			</if>
			<if test="departmentId != null">
				AND emp.department_id = #{departmentId}
			</if>
		</where>
		ORDER BY
			emp.id
	</select>
	
	<select id="countAll" resultType="int">
		SELECT COUNT
			(*)
		FROM
			employees
	</select>
	
	<insert id="create" parameterType="Employee">
		INSERT INTO
			employees (
				username, 
				password, 
				name, 
				department_id
				)
		VALUES (
				#{username}, 
				#{password}, 
				#{name}, 
				#{department.id}
			)
	</insert>
	
	<update id="update" parameterType="Employee">
		UPDATE 
			employees
		SET 
			username = #{username}, 
			name = #{name}, 
			department_id = #{department.id},  
			updated_at = #{updatedAt}
		WHERE 
			id = #{id}
	</update>
	
	<update id="updatePassword" parameterType="Employee">
		UPDATE 
			employees
		SET 
			password = #{password}, 
			updated_at = #{updatedAt}
		WHERE 
			id = #{id}
	</update>
	
	<update id="delete" parameterType="Employee">
		UPDATE 
			employees 
		SET 
			invalid = 1, 
			updated_at = #{updatedAt}
		WHERE 
			id = #{id}
	</update>
	
</mapper>