<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.EmployeeMapper">

	<!-- SQL結果に対応した社員クラス -->
	<resultMap id="employeeResult" type="Employee">
		<id property="id" column="emp_id" />
		<result property="username" column="emp_username" />
		<result property="password" column="emp_password" />
		<result property="name" column="emp_name" />
		<result property="authority" column="emp_authority" />
		<result property="createdAt" column="emp_created_at" />
		<result property="updatedAt" column="emp_updated_at" />
		<result property="invalid" column="emp_invalid" />
		<association property="department" javaType="Department">
			<id property="id" column="dep_id" />
			<result property="name" column="dep_name" />
		</association>
	</resultMap>

	<!-- 引数で受け取った社員ID(username)を基に、該当レコードを取得する。 -->
	<select id="findByUsername" parameterType="String" resultMap="employeeResult">
		SELECT
			emp.id               AS emp_id, 
			emp.username         AS emp_username,  
			emp.password         AS emp_password,  
			emp.name             AS emp_name,  
			emp.department_id    AS emp_department_id,  
			emp.authority        AS emp_authority,  
			emp.created_at       AS emp_created_at,  
			emp.updated_at       AS emp_updated_at,  
			emp.invalid          AS emp_invalid,  
			dep.id               AS dep_id,  
			dep.name             AS dep_name      
		FROM 
			employees emp <!-- 社員テーブル -->
		INNER JOIN 
			departments dep <!-- 部署テーブル -->
		ON 
			emp.department_id = dep.id <!-- 部署IDで結合 -->
		WHERE
			emp.username = #{username} <!-- 引数の社員ID(username)と一致した場合 -->
	</select>
	
	<!-- 引数で受け取った社員ID(username)を基に、該当レコードを取得する。※削除済みを除く -->
	<select id="findByUsernameExcludeInvalid" parameterType="String" resultMap="employeeResult">
		SELECT
			emp.id               AS emp_id, 
			emp.username         AS emp_username,  
			emp.password         AS emp_password,  
			emp.name             AS emp_name,  
			emp.department_id    AS emp_department_id,  
			emp.authority        AS emp_authority,  
			emp.created_at       AS emp_created_at,  
			emp.updated_at       AS emp_updated_at,  
			emp.invalid          AS emp_invalid,  
			dep.id               AS dep_id,  
			dep.name             AS dep_name      
		FROM 
			employees emp <!-- 社員テーブル -->
		INNER JOIN 
			departments dep <!-- 部署テーブル -->
		ON 
			emp.department_id = dep.id <!-- 部署IDで結合 -->
		WHERE
			emp.username = #{username} <!-- 社員ID(username)と一致した場合 -->
		AND 
			emp.invalid = 0 <!-- 社員テーブルの未削除のみ -->
	</select>
	
	<!-- 引数で受け取ったIDを基に、該当レコードを取得する。※削除済みを除く -->
	<select id="findByIdExcludeInvalid" parameterType="Long" resultMap="employeeResult">
		SELECT
			emp.id               AS emp_id, 
			emp.username         AS emp_username,  
			emp.password         AS emp_password,  
			emp.name             AS emp_name,  
			emp.department_id    AS emp_department_id,  
			emp.authority        AS emp_authority,  
			emp.created_at       AS emp_created_at,  
			emp.updated_at       AS emp_updated_at,  
			emp.invalid          AS emp_invalid,  
			dep.id               AS dep_id,  
			dep.name             AS dep_name      
		FROM 
			employees emp <!-- 社員テーブル -->
		INNER JOIN 
			departments dep <!-- 部署テーブル -->
		ON 
			emp.department_id = dep.id <!-- 部署IDで結合 -->
		WHERE
			emp.id = #{id} <!-- 引数のIDと一致した場合 -->
		AND 
			emp.invalid = 0 <!-- 社員テーブルの未削除のみ -->
	</select>
	
	<!-- 引数で受け取ったIDを基に、該当レコードを取得する。 -->
	<select id="findById" parameterType="Long" resultMap="employeeResult">
		SELECT
			emp.id               AS emp_id, 
			emp.username         AS emp_username,  
			emp.password         AS emp_password,  
			emp.name             AS emp_name,  
			emp.department_id    AS emp_department_id,  
			emp.authority        AS emp_authority,  
			emp.created_at       AS emp_created_at,  
			emp.updated_at       AS emp_updated_at,  
			emp.invalid          AS emp_invalid,  
			dep.id               AS dep_id,  
			dep.name             AS dep_name      
		FROM 
			employees emp <!-- 社員テーブル -->
		INNER JOIN 
			departments dep <!-- 部署テーブル -->
		ON 
			emp.department_id = dep.id <!-- 部署IDで結合 -->
		WHERE
			emp.id = #{id} <!-- 引数のIDと一致した場合 -->
	</select>
		
	<!-- 引数で受け取った社員ID(username)・社員名・部署IDを基に、あいまい検索を掛ける -->
	<select id="findByConditions" resultMap="employeeResult">
		SELECT
			emp.id               AS emp_id, 
			emp.username         AS emp_username,  
			emp.password         AS emp_password,  
			emp.name             AS emp_name,    
			emp.authority        AS emp_authority,  
			emp.created_at       AS emp_created_at,  
			emp.updated_at       AS emp_updated_at,  
			emp.invalid          AS emp_invalid,  
			dep.id               AS dep_id,  
			dep.name             AS dep_name      
		FROM 
			employees emp <!-- 社員テーブル -->
		INNER JOIN 
			departments dep <!-- 部署テーブル -->
		ON 
			emp.department_id = dep.id <!-- 部署IDで結合 -->
		<where>
			<if test="username != null">
				emp.username LIKE '%${username}%' <!-- 引数の社員ID(username)がnullでない場合、あいまい検索 -->
			</if>
			<if test="name != null">
				AND emp.name LIKE '%${name}%' <!-- 引数の社員ID(username)がnullでない場合、あいまい検索 -->
			</if>
			<if test="departmentId != null">
				AND emp.department_id = #{departmentId} <!-- 引数の社員ID(username)がnullでない場合、一致するかどうか -->
			</if>
		</where>
		ORDER BY
			emp.id <!-- IDの昇順 -->
	</select>
	
	<!-- 社員テーブルのレコード数を取得する -->
	<select id="countAll" resultType="Integer">
		SELECT COUNT
			(*)
		FROM
			employees <!-- 社員テーブル -->
	</select>
	
	<!-- 社員テーブルに1件データを挿入する。 -->
	<insert id="create" parameterType="Employee">
		INSERT INTO
			employees ( <!-- 社員テーブル -->
				username, 
				password, 
				name, 
				department_id, 
				authority
			)
		VALUES (
				#{username}, 
				#{password}, 
				#{name}, 
				#{department.id}, 
					<if test="department.id == 1">
						'ROLE_OFFICE' <!-- 部署IDが「1」の場合、OFFICE権限を付与する -->
					</if>
					<if test="department.id &gt;= 2 and department.id &lt;= 8">
						'ROLE_FIELD' <!-- 部署IDが「2～8」の場合、FIELD権限を付与する -->
					</if>
					<if test="department.id &gt;= 9">
						'ROLE_SALE' <!-- 部署IDが「9～」の場合、SALE権限を付与する -->
					</if>
		)
	</insert>
	
	<!-- 引数で受け取ったIDを基に、社員テーブルの1件のデータを更新する。 -->
	<update id="update" parameterType="Employee">
		UPDATE 
			employees
		SET 
			username = #{username}, 
			name = #{name}, 
			department_id = #{department.id},  
			updated_at = #{updatedAt}, 
				<if test="department.id == 1">
					authority = 'ROLE_OFFICE' <!-- 部署IDが「1」の場合、OFFICE権限を付与する -->
				</if>
				<if test="department.id &gt;= 2 and department.id &lt;= 8">
					authority = 'ROLE_FIELD' <!-- 部署IDが「2～8」の場合、FIELD権限を付与する -->
				</if>
				<if test="department.id &gt;= 9">
					authority = 'ROLE_SALE' <!-- 部署IDが「9～」の場合、SALE権限を付与する -->
				</if>
		WHERE 
			id = #{id} <!-- 引数のIDと一致した場合 -->
	</update>
	
	<!-- 引数で受け取ったID・パスワードを基に、社員テーブルの1件のパスワードを更新する。 -->
	<update id="updatePassword" parameterType="Employee">
		UPDATE 
			employees <!-- 社員テーブル -->
		SET 
			password = #{password}, 
			updated_at = #{updatedAt}
		WHERE 
			id = #{id} <!-- 引数のIDと一致した場合 -->
	</update>
	
	<!-- 引数で受け取ったIDを基に、社員テーブルの1件のデータを削除(論理)する。 -->
	<update id="delete" parameterType="Employee">
		UPDATE 
			employees <!-- 社員テーブル -->
		SET 
			invalid = 1, 
			updated_at = #{updatedAt}
		WHERE 
			id = #{id} <!-- 引数のIDと一致した場合 -->
	</update>
	
</mapper>