<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.ProductionMapper">

	<!-- SQL結果に対応した製作クラス -->
	<resultMap id="productionResult" type="Production">
		<id property="id" column="pro_id" />
		<result property="lotNumber" column="pro_lot_number" />
		<result property="lotQuantity" column="pro_lot_quantity" />
		<result property="scheduledCompletionDate" column="pro_scheduled_completion_date" />
		<result property="createdAt" column="pro_created_at" />
		<result property="updatedAt" column="pro_updated_at" />
		<result property="completionDate" column="pro_completion_date" />
		<result property="invalid" column="pro_invalid" />
		<association property="item" javaType="Item">
			<id property="id" column="ite_id" />
			<result property="code" column="ite_code" />
			<result property="name" column="ite_name" />
		</association>
	</resultMap>
	
	<!-- 共通SQL文 -->
	<sql id="productionSelect">
		SELECT
			pro.id                          AS pro_id, 
			pro.lot_number                  AS pro_lot_number, 
			pro.lot_quantity                AS pro_lot_quantity, 
			pro.scheduled_completion_date   AS pro_scheduled_completion_date, 
			pro.created_at                  AS pro_created_at, 
			pro.updated_at                  AS pro_updated_at, 
			pro.completion_date             AS pro_completion_date, 
			pro.invalid                     AS pro_invalid, 
			ite.id                          AS ite_id, 
			ite.code                        AS ite_code, 
			ite.name                        AS ite_name
		FROM
			productions pro <!-- 製作テーブル -->
		INNER JOIN
			items ite <!-- 商品テーブル -->
		ON
			pro.item_id = ite.id <!-- 商品IDで結合 -->
	</sql>
	
	<!-- 全てのレコードを取得※製作テーブルの削除済みを除く -->
	<select id="findAllExcludeInvalid" resultMap="productionResult">

		<!-- SQL文をインクルード -->
		<include refid="productionSelect"></include>
		WHERE
			pro.invalid = 0 <!-- 未削除のみ -->
		ORDER BY
			pro.id ASC <!-- IDの昇順 -->
	</select>

	<!-- 全てのレコードを取得※製作テーブルの削除済み・完了済みを除く -->
	<select id="findAllExcludeInvalidAndCompletion" resultMap="productionResult">
	
		<!-- SQL文をインクルード -->
		<include refid="productionSelect"></include>
		WHERE
			pro.invalid = 0 <!-- 未削除のみ -->
		AND
			pro.completion_date IS NULL <!-- 完了日がnullのみ -->
		ORDER BY
			pro.id ASC <!-- IDの昇順 -->
	</select>
	
	<!-- 引数で受け取った製作番号・商品コード・商品名を基に、あいまい検索を掛ける -->
	<select id="findByConditions" resultMap="productionResult">
	
		<!-- SQL文をインクルード -->
		<include refid="productionSelect"></include>
		<where>
			<if test="lotNumber != null">
				pro.lot_number LIKE '%${lotNumber}%' <!-- 引数の製作番号がnullでない場合、あいまい検索 -->
			</if>
			<if test="itemCode != null">
				AND ite.code LIKE '%${itemCode}%' <!-- 引数の商品コードがnullでない場合、あいまい検索 -->
			</if>
			<if test="itemName != null">
				AND ite.name LIKE '%${itemName}%' <!-- 引数の商品名がnullでない場合、あいまい検索 -->
			</if>
		</where>
	</select>
	
	<!-- 引数で受け取った製作番号を基に、該当レコードを取得する。 -->
	<select id="findByLotNumber" resultMap="productionResult">
	
		<!-- SQL文をインクルード -->
		<include refid="productionSelect"></include>
		WHERE
			pro.lot_number = #{lotNumber} <!-- 引数の製作番号と一致した場合 -->
	</select>
	
	
	
	<!-- 引数で受け取った製作IDを基に、該当レコードを取得する。 -->
	<select id="findById" parameterType="Long" resultMap="productionResult">
	
		<!-- SQL文をインクルード -->
		<include refid="productionSelect"></include>
		WHERE
			pro.id = #{id} <!-- 引数の製作IDと一致した場合 -->
	</select>
	
	<!-- 引数で受け取った製作IDを基に、該当レコードを取得する。※削除済みを除く -->
	<select id="findByIdExcludeInvalid" parameterType="Long" resultMap="productionResult">
	
		<!-- SQL文をインクルード -->
		<include refid="productionSelect"></include>
		WHERE
			pro.id = #{id} <!-- 引数の製作IDと一致した場合 -->
		AND
			pro.invalid = 0 <!-- 未削除のみ -->
	</select>
	
	<!-- 引数で受け取った製作IDを基に、該当レコードを取得する。※削除済み・完了済みを除く -->
	<select id="findByIdExcludeInvalidAndCompletion" parameterType="Long" resultMap="productionResult">
	
		<!-- SQL文をインクルード -->
		<include refid="productionSelect"></include>
		WHERE
			pro.id = #{id} <!-- 引数の製作IDと一致した場合 -->
		AND
			pro.invalid = 0 <!-- 未削除のみ -->
		AND
			pro.completion_date IS NULL <!-- 完了日がnullのみ -->
	</select>
	
	<!-- 製作テーブルをIDの降順に並び替えた上で、最初の行の製作番号(通し番号の最大)を取得する。 -->
	<select id="getLotNumberByLatest" resultType="String">
		SELECT
			lot_number 
		FROM
			productions <!-- 製作テーブル -->
		ORDER BY 
			id DESC <!-- IDの降順 -->
		LIMIT 1 <!-- 最新の1行 -->
	</select>
	
	<!-- 引数で受け取ったIDを基に、該当レコードの製作数を取得する。 -->
	<select id="getLotQuantity" resultType="Integer">
		SELECT
			lot_quantity
		FROM
			productions <!-- 製作テーブル -->
		WHERE
			id = #{id} <!-- 引数のIDと一致した場合 -->
	</select>
	
	<!-- 製作テーブルに1件データを挿入する。 -->
	<insert id="create" parameterType="Production">
		INSERT INTO
			productions ( <!-- 製作テーブル -->
				item_id, 
				lot_number, 
				lot_quantity, 
				scheduled_completion_date
			)
		VALUES (
			#{item.id}, 
			#{lotNumber}, 
			#{lotQuantity}, 
			#{scheduledCompletionDate}
		)
	</insert>
	
	<!-- 引数で受け取った製作IDを基に、製作テーブルの1件のデータを更新する。 -->
	<update id="update" parameterType="Production">
		UPDATE
			productions <!-- 製作テーブル -->
		SET
			lot_quantity = #{lotQuantity}, 
			scheduled_completion_date = #{scheduledCompletionDate}, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id} <!-- 引数の製作IDと一致した場合 -->
	</update>
	
	<!-- 引数で受け取った製作IDを基に、製作テーブルの1件のデータを削除(論理)する。-->
	<update id="delete" parameterType="Production">
		UPDATE
			productions <!-- 製作テーブル -->
		SET
			invalid = 1, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id} <!-- 引数の製作IDと一致した場合 -->
	</update>
	
	<update id="updateCompletion" parameterType="Production">
		UPDATE
			productions <!-- 製作テーブル -->
		SET
			completion_date = #{completionDate}, 
			updated_at = #{updatedAt}
		WHERE
			id = #{id} <!-- 引数の製作IDと一致した場合 -->
	</update>

</mapper>