<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.StockMapper">

	
	<!-- 引数で受け取った商品IDを基に、実在庫を返す。 -->
	<select id="getActualQuantity" parameterType="Long" resultType="Integer">
		SELECT
			actual_quantity
		FROM
			stocks <!-- 在庫テーブル -->
		WHERE
			item_id = #{itemId}
	</select>

	<!-- 引数の入庫クラスの入庫数を、商品IDと合致したレコードの実在庫に加算する。 -->
	<update id="updateStoring" parameterType="Storing">
		UPDATE
			stocks <!-- 在庫テーブル -->
		SET
			actual_quantity = actual_quantity + #{storingQuantity}, 
			updated_at = #{updatedAt}
		WHERE
			item_id = #{production.item.id} <!-- 引数の商品IDと一致した場合 -->
	</update>

	<!-- 引数の出荷クラスの出荷数を、商品IDと合致したレコードの実在庫から減算する。 -->
	<update id="updateShipping" parameterType="Shipping">
		UPDATE
			stocks <!-- 在庫テーブル -->
		SET
			actual_quantity = actual_quantity - #{shippingQuantity}, 
			updated_at = #{updatedAt}
		WHERE
			item_id = #{orderDetail.itemHistory.itemId} <!-- 引数の商品IDと一致した場合 -->
	</update>
	

</mapper>