<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.management.mapper.StoringMapper">

	<!-- SQL結果に対応した入庫クラス -->
	<resultMap id="storingResult" type="Storing">
		<id property="id" column="sto_id" />
		<result property="storingQuantity" column="sto_storing_quantity" />
		<result property="createdAt" column="sto_created_at" />
		<result property="updatedAt" column="sto_updated_at" />
		<association property="production" javaType="Production">
			<id property="id" column="pro_id" />
			<result property="lotNumber" column="pro_lot_number" />
			<result property="lotQuantity" column="pro_lot_quantity" />
			<result property="completionDate" column="pro_completion_date" />
			<result property="invalid" column="pro_invalid" />
			<association property="item" javaType="Item">
				<id property="id" column="ite_id" />
				<result property="code" column="ite_code" />
				<result property="name" column="ite_name" />
			</association>
		</association>
	</resultMap>

	<!-- 共通SQL文 -->
	<sql id="storingSelect">
		SELECT
			sto.id                    AS sto_id, 
			sto.storing_quantity      AS sto_storing_quantity, 
			sto.created_at            AS sto_created_at, 
			sto.updated_at            AS sto_updated_at, 
			pro.p_id                  AS pro_id, 
			pro.p_lot_number          AS pro_lot_number, 
			pro.p_lot_quantity        AS pro_lot_quantity, 
			pro.p_completion_date     AS pro_completion_date, 
			pro.p_invalid             AS pro_invalid, 
			pro.i_id                  AS ite_id, 
			pro.i_code                AS ite_code, 
			pro.i_name                AS ite_name
		FROM
			storings sto <!-- 入庫テーブル -->
		INNER JOIN (
			SELECT
				p.id                  AS p_id, 
				p.item_id             AS p_item_id, 
				p.lot_number          AS p_lot_number, 
				p.lot_quantity        AS p_lot_quantity, 
				p.completion_date     AS p_completion_date, 
				p.invalid             AS p_invalid, 
				i.id                  AS i_id, 
				i.code                AS i_code, 
				i.name                AS i_name
			FROM
				productions p <!-- 製作テーブル -->
			INNER JOIN
				items i <!-- 商品テーブル -->
			ON
				p.item_id = i.id <!-- 商品IDで結合 -->
		) pro <!-- サブクエリの製作テーブル -->
		ON
			sto.production_id = pro.p_id <!-- 入庫テーブルとサブクエリの製作テーブルを、製作IDで結合 -->
	</sql>
	
	<!-- 引数で受け取ったIDを基に、該当レコードを取得 -->
	<select id="findById" parameterType="Long" resultMap="storingResult">

		<!-- SQL文をインクルード -->
		<include refid="storingSelect"></include>
		WHERE
			sto.id = #{id} <!-- 引数の入庫IDと一致した場合 -->
	</select>
	
	<!-- 引数で受け取った製作番号・商品コード・商品名を基に、あいまい検索を掛ける -->
	<select id="findByConditions" resultMap="storingResult">

		<!-- SQL文をインクルード -->
		<include refid="storingSelect"></include>
		<where>
			<if test="lotNumber != null">
				pro.p_lot_number LIKE '%${lotNumber}%' <!-- 引数の製作番号がnullでない場合、あいまい検索 -->
			</if>
			<if test="itemCode != null">
				AND pro.i_code LIKE '%${itemCode}%' <!-- 引数の商品コードがnullでない場合、あいまい検索 -->
			</if>
			<if test="itemName != null">
				AND pro.i_name LIKE '%${itemName}%' <!-- 引数の商品名がnullでない場合、あいまい検索 -->
			</if>
		</where>
	</select>
	
	<!-- 入庫テーブルの製作ID毎の入庫数集計結果、引数の製作IDと一致した値を返す。 -->
	<select id="sumOfStoringQuantity" parameterType="Long" resultType="Integer">
		SELECT
			SUM(storing_quantity)
		FROM
			storings <!-- 入庫テーブル -->
		WHERE
			production_id = #{productionId} <!-- 引数の製作IDと一致した場合 -->
		GROUP BY
			production_id <!-- 製作IDでグループ化 -->
	</select>
	
	<!-- 入庫テーブルに1件データを挿入する。 -->
	<insert id="create" parameterType="Storing">
		INSERT INTO
			storings ( <!-- 入庫クラス -->
				production_id, 
				storing_quantity
			)
		VALUES (
			#{production.id}, 
			#{storingQuantity}
		)
	</insert>

</mapper>