.alert {
	margin-bottom: 0px;
  	position: fixed;
  	width: 100%;
  	z-index: 10000; 
  	}
  	
nav {
	height: 50px;
}
  	
main {
	padding-top: 70px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.table-register {
	width: 50%;
	margin: auto;
	table-layout: fixed;
}

.table-register th {
	text-align: right;
	width: 30%;
}

.table-register td {
	text-align: left;
	width: 70%;
}

.input-register {
	margin-top: 30px;
	text-align: center;
}