.alert {
	margin-bottom: 0px;
  	position: fixed;
  	width: 100%;
  	z-index: 10000; 
  	}
  	
nav {
	height: 50px;
}
  	
main {
	padding-top: 70px;
}

ul {
	list-style: none;
}

.master-list thead tr th {
	padding: 0 50px;
}

.form-table tr td {
	text-align: left;
}