<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<table class="table table-borderd" th:object="${item}">
			<tr>
				<th>商品コード</th>
				<td th:text="*{itemCode}">
			</tr>
			<tr>
				<th>商品名</th>
				<td th:text="*{name}">
			</tr>
			<tr>
				<th>単価</th>
				<td th:text="*{unitPrice}">
			</tr>
			<tr>
				<th>繰越在庫</th>
				<td th:text="*{carryOverStock}">
			</tr>
			<tr>
				<th>作成日時</th>
				<td th:text="*{#temporals.format(createdAt, 'yy/MM/dd HH:mm:ss')}">
			</tr>
			<tr>
				<th>更新日時</th>
				<td th:text="*{#temporals.format(updatedAt, 'yy/MM/dd HH:mm:ss')}">
			</tr>
			<tr>
				<th>区分</th>
				<td th:text="*{invalid} == 0 ? '有効' : '削除済'"></td>
			</tr>
		</table>
		<a th:href="@{/item/list}">商品マスタに戻る</a>
	</div>
</body>
</html>