<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="contents">
		<form method="post" th:action="@{/item/edit/update}" th:object="${itemForm}">
			<input type="hidden" th:field="*{id}" />
		
			<div layout:replace="~{items/common :: table}"></div>
			
			<input type="submit" value="更新" id="form" />
		</form>
		<form method="post" th:action="@{/item/edit/delete}" th:object="${itemForm}">
			<input type="hidden" th:field="*{id}" />
			<input type="submit" value="削除" id="form-delete" />
		</form>
		<a th:href="@{/item/list}">商品マスタに戻る</a>
	</div>
</body>
</html>