<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<a th:href="@{/employee/edit/{id}(id=${employeeForm.id})}">編集画面に戻る</a>
		<br>
		<br>
		<a th:href="@{/employee/list}">社員マスタに戻る</a>
		<p th:text="|社員ID: ${employee.username}|" class="text-center"></p>
		<p th:text="|社員名: ${employee.name}|" class="text-center"></p>
		<p th:text="|部署名: ${employee.department.name}|" class="text-center"></p>
		<form method="post" th:action="@{/employee/edit/password/change}" th:object="${employeeForm}">
			<input type="hidden" th:field="*{id}" />
		
			<div layout:replace="~{employees/common :: table}"></div>
			
			<div class="input-register">
				<input type="submit" value="変更" id="form-change" />
			</div>
		</form>
	</div>
</body>
</html>