<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="contents">
		<form method="post" th:action="@{/employee/edit/update}" th:object="${employeeForm}">
			<input type="hidden" th:field="*{id}" />
		
			<div layout:replace="~{employees/common :: table}"></div>
			
			<input type="submit" value="更新" id="form" />
		</form>
		<form method="post" th:action="@{/employee/edit/delete}" th:object="${employeeForm}">
			<input type="hidden" th:field="*{id}" />
			<input type="submit" value="削除" id="form-delete" />
		</form>
		<a th:href="@{/employee/list}">社員マスタに戻る</a>
		<a th:href="@{/employee/edit/changePassword/{id}(id=${employeeForm.id})}">パスワードを変更</a>

	</div>
</body>
</html>