<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<table class="table table-borderd" th:object="${production}">
			<tr>
				<th>製作番号</th>
				<td th:text="*{lotNumber}" />
			</tr>
			<tr>
				<th>商品コード</th>
				<td th:text="*{item.code}" />
			</tr>
			<tr>
				<th>商品名</th>
				<td th:text="*{item.name}" />
			</tr>
			<tr>
				<th>製作数</th>
				<td th:text="*{lotQuantity}" />
			</tr>
			<tr>
				<th>完成予定日</th>
				<td th:text="*{#temporals.format(scheduledCompletionDate, 'yy/MM/dd')}" />
			</tr>
			<tr>
				<th>完成日</th>
				<td th:text="*{completionDate != null ? #temporals.format(completionDate, 'yy/MM/dd') : '' }" />
			</tr>
			<tr>
				<th>登録日時</th>
				<td th:text="*{#temporals.format(createdAt, 'yy/MM/dd HH:mm:ss')}" />
			</tr>
			<tr>
				<th>更新日時</th>
				<td th:text="*{#temporals.format(updatedAt, 'yy/MM/dd HH:mm:ss')}" />
			</tr>
			<tr>
				<th>削除区分</th>
				<td th:text="*{invalid} == 0 ? '' : '済'" />
			</tr>
		</table>
		<a th:href="@{/production/log}">製作履歴に戻る</a>
	</div>
</body>
</html>