<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<table class="table table-borderd">
			<thead>
				<tr>
					<th>マスタ関係</th>
					<th>登録関係</th>
					<th>その他</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul>
							<li><a th:href="@{/item/list}">商品マスタ</a></li>
							<li><a th:href="@{/customer/list}">顧客マスタ</a></li>
							<li>
								<th:block sec:authorize="hasRole('ADMIN')">
									<a th:href="@{/employee/list}">社員マスタ</a>
								</th:block>
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>製作手配</li>
							<li>売上入力</li>
							<li>日報入力</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>進捗一覧</li>
							<li>在庫一覧</li>
							<li>　</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>