<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<table class="table table-borderd text-center">
			<thead class="container h3">
				<tr>
					<th class="col-md-4">マスタ関係</th>
					<th class="col-md-4">登録関係</th>
					<th class="col-md-4">その他</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul>
							<li class="h5"><a th:href="@{/item/list}">商品マスタ</a></li>
							<li class="h5"><a th:href="@{/customer/list}">顧客マスタ</a></li>
							<li class="h5">
								<th:block sec:authorize="hasRole('ADMIN')">
									<a th:href="@{/employee/list}">社員マスタ</a>
								</th:block>
							</li>
							<li class="h5">
								<th:block sec:authorize="hasRole('ADMIN')">
									<a th:href="@{/department/list}">部署マスタ</a>
								</th:block>
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li class="h5">
								<th:block sec:authorize="hasRole('ADMIN') or hasRole('OFFICE')">
									<a th:href="@{/production/log}">製作手配</a>
								</th:block>
							</li>
							
							<li class="h5">
								<th:block sec:authorize="hasRole('ADMIN') or hasRole('FIELD')">
									<a th:href="@{/report/log}">日報入力</a>
								</th:block>
							</li>
							
							<th:block sec:authorize="hasRole('ADMIN') or hasRole('OFFICE')">
								<li class="h5">
									<a th:href="@{/storing/log}">入庫入力</a>
								</li>
							</th:block>
							<th:block sec:authorize="hasRole('ADMIN') or hasRole('SALE')">
								<li class="h5">
									<a th:href="@{/order/log}">受注入力</a>
								</li>
							</th:block>
							<th:block sec:authorize="hasRole('ADMIN') or hasRole('OFFICE')">
								<li class="h5">出荷手配</li>
							</th:block>
						</ul>
					</td>
					<td>
						<ul>
							<li class="h5">進捗一覧</li>
							<li class="h5">在庫一覧</li>
							<li class="h5">　</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>